.git
.gitignore
.env
.env.backup
.env.production
node_modules
vendor
public/build
public/hot
storage/*.key
storage/pail
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
.phpunit.cache
.idea
.vscode
.DS_Store
Thumbs.db
docker-compose.yml
Dockerfile
.dockerignore
README.md
*.md
tests
Data_menara_rev.csv
Pemetaan jalur FO ISP.csv









